@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
	margin: 0;
	padding: 0;
}

html {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: min-content;
	margin: 20px;
	border: 1px solid #3b5998;
}

header {
	display: flex;
	width: 100%;
}

nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.nav1 {
	background: center / cover url("./image 1.svg") no-repeat #3b5999;
	display: flex;
}

.nav2 {
	width: 60vh;
	max-height: 100%;
	background-color: #3b5998;
	background: top left / 75% url("./image 2.svg") no-repeat #3b5999;
	display: flex;
	flex-direction: column-reverse;
	padding: 4px;
}

.nav3 {
	display: flex;
	flex-direction: row;
	gap: 14px;
	line-height: 100%;
	font-weight: 400;
	font-family: "Source Sans Pro";
	font-size: 12px;
	color: #ffffff;
}

main {
	display: flex;
	width: 100%;
	flex-direction: row;
}

.main1 {
	font-family: "Source Code Pro";
	font-weight: 400;
	font-size: 14px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.section1 {
	padding-top: 10px;
	padding-right: 4px;
	padding-bottom: 10px;
	padding-left: 4px;
	border: 1px dashed #3b5998;
}

input {
	background-color: #d9dfea;
	border: 1px solid #3b5998;
	padding: 4px;
}

.div1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

button {
	background-color: #538adc;
	border: none;
	border-right: 1px solid #3b5998;
	border-bottom: 1px solid #3b5998;
	color: #ffffff;
	padding: 2px;
}

.maindiv {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.color1 {
	color: #538adc;
}

.img-sct {
	background: no-repeat center / cover url(img.png);

	height: 100%;
}

.main2 {
	padding: 10px;
}

.div2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid #3b5998;
	border-left: 1px solid #3b5998;
	border-right: 1px solid #3b5998;
}

.main2-main1 {
	display: flex;
	flex-direction: row;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-left: 1px solid #3b5998;
	border-right: 1px solid #3b5998;
	border-bottom: 1px solid #3b5998;
}

.sct2 {
	padding: 5px;
	background-color: #3b5998;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 12px;
	line-height: 100%;
	color: #ffffff;
}

.sct1 {
	border: 1px solid #3b5998;
}

.main2-main2 {
	display: flex;
	flex-direction: column;
	gap: 5 0px;
	padding: 5px;
	border: 1px solid #3b5998;
}

.info-main2 {
	display: flex;
	flex-direction: column;
}

.info1 {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.info2 {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

table {
	border: 2px solid #3b5998;
	border-collapse: collapse;
	width: max-content;
	width: 100%;
}

td {
	border: 1px solid #3b5998;
	padding: 8px;
	cursor: pointer;
}

.row1 {
	display: flex;
	flex-direction: row;
	gap: 8px;
	line-height: 12px;
}

.col {
	display: flex;
	flex-direction: column;
}

.p {
	padding: 5px;
	display: flex;
	justify-content: center;
	text-align: center;
}
footer {
	width: 50%;
	border-bottom: 1px solid #3b5998;
	border-left: 1px solid #3b5998;
	border-right: 1px solid #3b5998;
}

.main1-main1 {
	padding: 10px;
	display: flex;
	flex-direction: column;
	font-family: "Source Sans Pro";
	line-height: 12px;
	font-weight: 500;
	font-size: 11px;
	gap: 10px;
}

span,
.color2 {
	color: #538adc;
}

.div-sct {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 12px;
	padding-bottom: 12px;

}

.div-sct table * {
	border: none;
	padding: 0;
	margin: 0;
	text-align: left;
	vertical-align: top;
}

.div-sct table {
	border: none;
	font-size: 10px;
}

.div-sct table tr > *:first-child {
	text-wrap: nowrap;
	padding-right: 8px;
}

.tablecont {
	padding: 8px;
	border: 2px solid #3b5998;
}

.separator {
	padding: 4px 0 !important;
}

.footer {
	display: flex;
	flex-direction: column;
	gap: 7px;
	padding: 20px;
	font-size: 11px;
	line-height: 12px;
	font-weight: 400;
}

.row2 {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.g {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.info-main2 {
	font-weight: 700;
	font-size: 11px;
	font-family: "Source Sans Pro";
}